*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{        
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    width: auto;
}

.crearUsuario{
    width: 45%;
}

.lista{
    width: 40%;
}

.overlay{
    background: rgba(0, 0, 0, 0.75);
}